.wrapper{
    width:100%;
}


.root {
    width:100%;
}



/*.root-wrapper {
    height:100%;
    border: 1px dotted blue;
}*/

.flexbox {
    height:100%;
    display: flex;
    flex-wrap:wrap;
}

.linkpreview{
        margin: 8px;
    display:inline-block;
}
div {
    display: inline-block;
}


img {
    max-width: 90%;
    height: auto;
}



.showhide{
    display:none;
}
pre {

    overflow: scroll;       /* Internet Explorer 5.5+ */
}
.selectpage{
    margin:10px;
}

    /* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
.showhide {
       display: block !important;

}
.root-clicked{
    width:100%;
}


}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width: 480px) {
/* Styles */
.showhide {
       display: inline-block !important;

}
.root-clicked{
    width:100%;
}
.detailFloat{
display:none;
}
.article{
    display: inline-block;
    border: 1px solid black;
    flex-grow: 1;
    margin:10px 0 0 0;
    width: 100%;
    height: 80%;
    overflow-wrap: break-word;
}
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
/* Styles */
.showhide {
       display: block !important;
  
}
.root-clicked{
    width:100%;
}
.detailFloat{
display:none;
}
.article{
    display: inline-block;
    border: 1px solid black;
    flex-grow: 1;
    margin:10px 0 0 0;
    width: 100%;
    height: 80%;
    overflow-wrap: break-word;
}
}

/* Tablet (portrait and landscape) ----------- */
@media only screen and (min-width : 480px) and (max-width : 1024px) {
/* Styles */
.detailFloat{
    width:25%;
 float:right;
}
.root-clicked{
   width:70%; 
}
.article{
    display: inline-block;
    border: 1px solid black;
    flex-grow: 1;
    margin:8px 8px 0 0;
    width: 40%;
    height: 30%;
    overflow-wrap: break-word;
}

}



/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1024px) {
/* Styles */
.detailFloat{
    width:25%;
 float:right;
}
.root-clicked{
   width:70%; 
}
.article{
    display: inline-block;
    border: 1px solid black;
    flex-grow: 1;
    margin:10px 10px 0 0;
    width: 20%;
    height: 20%;
    overflow-wrap: break-word;
}

}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
.detailFloat{
    width:25%;
 float:right;
}
.root-clicked{
   width:70%; 
}
.article{
    display: inline-block;
    border: 1px solid black;
    flex-grow: 1;
    margin:10px 10px 0 0;
    width: 20%;
    height: 20%;
    overflow-wrap: break-word;
}

}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}