html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font: 1em/1.4 Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #fafafa;
}

img {
    max-width: 100%;
}


.logo{
    width: 100%;
  object-fit: scale-down;
}
h1, footer {
    padding: 1em;
    color: white;
    background-color: royalblue;
    clear: left;
    text-align: center;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
footer img{
    vertical-align: middle;
}

/*articles CSS*/
.cards {
    display: flex;
    flex-wrap:wrap;
    margin: 0 auto;
    float:left;
    height: 100%;
  
}
.description{
    max-height: 100px;
    overflow: scroll;
}

.card {
    margin: 5px 10px;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
}
.detailFloat{
    width:30%;
    max-height: 1000px;
    float:right;
    overflow-y: scroll;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    background-color: #fff;
}

.card header {
    padding: 10px;
    background-color: royalblue;
    color: #fff;

}

.card header h2 {
    font-size: 1.4rem;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

.card .body {
    padding: 10px;
    font-size: .9rem;
    color: #757575;
}

.inline{
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
}



/*INPUT CSS*/
.home{
    position: relative;
    text-align: center;
}
.error{
    position: relative;
    text-align: center;
    color: darkred;
}

.findbtn:hover {
    background-color: royalblue;
    color: white;
}
.datepicker {
    height: 2.5em;
    
    padding: 2px 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 6px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
    background-color: royalblue;
    color: white;
    border: 1px solid royalblue;   
}

/* DETAILS CSS*/
.showhide{
    display:none;
}

pre {
    white-space: pre-wrap;
    word-break: break-all;
}

/*Page picker CSS*/
.selectpage{
    margin:10px;
}

/*BOOKMARK CSS*/
.bookmark-star{
    color:white;
    display:inline;
    float:right;
    cursor:pointer;
}
.bookmark-star:hover{
    color:yellow;
}


/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 320px) and (max-width: 480px) {
.showhide {
   display: block !important;

}
.clicked{
    width:100%;
}
.detailFloat{
    display:none;
}
.card {
    margin: 5px 0px;
    width: 100%;
}

}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
.showhide {
    display: block !important;
  
}
.clicked{
    width:100%;
}
.detailFloat{
    display:none;
}
.card {
    margin: 5px 0px;
    width: 100%;
}


}

/* Tablet (portrait and landscape) ----------- */
@media only screen and (min-width : 481px) and (max-width : 1024px) {
.card {
    width: 42%;
}
.clicked{
    width:70%;
}
.caret{
    display:none;
}
}



/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1024px){
.card {
    width: 22%;
}
.clicked{
    width:70%;
}
.caret{
    display:none;
}
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
.card {
    width: 22%;
    }
.clicked{
    width:70%;
    }
.caret{
    display:none;
    }

}